<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item  
            *ngFor="let recipeEl of recipes"
            [recipe]="recipeEl" 
        ></app-recipe-item>

        <!--  (recipeSelected)="onRecipeSelected()" here we need to emit en other event up to the recipe father that is the grandfather 
        of recipe-item from where we start emitting the event -->
    </div>
</div>

<!-- [recipe] refers to (is binded to) @Input() recipe: Recipe in recipe-item component -->

